src/main/mule/get-covid-cases-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-covid-cases-by-national-idFlow" doc:id="67e38c69-dc38-49e2-a321-dd56e73f0a3c" >
		<http:listener doc:name="Listener" doc:id="44cfbee9-162d-4968-be0e-d9eb2291df2e" config-ref="HTTP_Listener_config" path="v1/cases/{nationalID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="c90e4ce5-83fd-4a76-a01e-0a0a21f242bd" message="#[attributes.uriParams.nationalID]"/>
	</flow>
</mule>
