src/main/mule/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="update-covid-caseFlow" doc:id="d68344bb-7122-417e-9335-c57338164b67" >
		<http:listener doc:name="Listener" doc:id="831cdf80-6138-44dc-8c49-aa5b6a1f6c12" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="96a6c9a2-3c8b-4f89-8a1c-fd01ea26518a" message="#[payload.covidCase.caseID]"/>
	</flow>
</mule>
